{% extends layout %}

{% block content %}
  <div class="container-fluid">
		<div class="row-fluid">
			<h1>インストールしています</h1>
		</div>
	</div>

	<script type="text/javascript" src="{{ site.url }}/js/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript">
	$(function() {
		$.post('{{ site.url }}/user.php', {
			uname: '{{ site.admin.username }}',
			pass: '{{ site.admin.password }}',
			xoops_login: 1
		}).success(function() {
			$.post('{{ site.url }}/index.php', {
				cube_module_install: 1,
				uninstalled_modules: [
					'xcore', 'user', 'profile', 'altsys', 'xupdate'
				],
				option_modules: [
					'message', 'protector'
				]
			}).success(function() {
				location.href = '{{ site.url }}';
			});
		});
	});
	</script>
{% endblock %}
